body {
  background: #ddeedd;
}

h1 {
  color: #654e8a;
  font-family: Times;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #654e8a;
  font-family: Times;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: #654e8a;
  font-family: Times;
  font-weight: bold;
  margin-left: 10px;
}

h4 {
  color: #654e8a;
  font-family: Times;
  margin-top: 20px;
  margin-left: 10px;
}

.button {
  background-color: #c0ded9;
  color: #579abb;
  font-family: Times;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.button:hover {
  color: #564277;
  text-decoration: none;
}

li {
  color: #8d84a7;
  font-family: Times;
  font-size: 30px;
  background-color: #ddeedd;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.name {
  color: #8d84a7;
  font-family: Times;
}

.name:hover {
  color: whitesmoke;
  text-decoration: none;
}

.form {
  color: #654e8a;
  font-family: Times;
  margin-left: 10px;
}