@{
  Layout = "_Layout";
}

<h1>Dr SillyStringz's Factory!</h1>

<h1>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</h1>
<h1>@Html.ActionLink("Manage Machines", "Index", "Machines")</h1>

<h3>Current Engineers:</h3>
@foreach (var engineer in ViewBag.Engineer)
{
  <li>@engineer.Name</li>
}
<h3>Current Factory Machines:</h3>
@foreach (var machine in ViewBag.Machine)
{
  <li>@machine.Name</li>
}

<center>
  <img src='~/img/photo1.png' alt='Silly String' width="400px" height="400px" style="vertical-align:middle;margin:50px 50px" />
</center>