@{
  Layout = "_Layout";
}

<h1>Dr SillyStringz's Factory!</h1>

<center>
  <img src='~/img/photo.jpg' alt='' style="vertical-align:middle;margin:50px 50px" />
</center>

<h1>@Html.ActionLink("See All Engineers", "Index", "Engineers")</h1>
<h1>@Html.ActionLink("See All Machines", "Index", "Machines")</h1>